@import "tailwindcss";
input,
textarea,
select {
    border-color: #e5e7eb;
    transition: border-color 0.2s;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b82f6;
}
